In [420]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [567]:
data = pd.read_csv('/home/iaan/Documents/SkillFactory/UNIT 1/Files/movie_bd_v5.xls')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
415,tt1023114,30000000,20348249,The Way Back,Colin Farrell|Dejan Angelov|DragoÈ™ Bucur|Ed H...,Peter Weir,Their escape was just the beginning,Peter Weir's follow-up to Master &amp; Command...,133,Drama|Adventure|History,Polish Film Institute|Imagenation Abu Dhabi FZ...,9/3/2010,6.7,2010
1116,tt0302886,24000000,87055349,Old School,Luke Wilson|Will Ferrell|Vince Vaughn|Ellen Po...,Todd Phillips,"All the fun of college, none of the education.",Three friends attempt to recapture their glory...,91,Comedy,DreamWorks SKG|The Montecito Picture Company,2/21/2003,6.6,2003
1288,tt1821549,12000000,17654912,Nebraska,Bruce Dern|Will Forte|Bob Odenkirk|June Squibb...,Alexander Payne,Life's not about winning or losing. It's about...,"An aging, booze-addled father takes a trip fro...",115,Drama|Adventure,Paramount Vantage|Bona Fide Productions,9/21/2013,7.3,2013
1192,tt1411250,38000000,98337295,Riddick,Vin Diesel|Karl Urban|Katee Sackhoff|Jordi Mol...,David Twohy,Survival Is His Revenge,Betrayed by his own kind and left for dead on ...,119,Science Fiction|Action|Thriller,One Race Productions|Radar Pictures|Riddick Ca...,9/2/2013,6.2,2013
30,tt1823672,49000000,102069268,Chappie,Sharlto Copley|Dev Patel|Ninja|Yolandi Visser|...,Neill Blomkamp,I am consciousness. I am alive. I am Chappie.,Every child comes into the world full of promi...,120,Crime|Action|Science Fiction,Columbia Pictures|Media Rights Capital|Sony Pi...,3/4/2015,6.6,2015

In [484]:
data.describe()

ValueError: cannot insert profit, already exists

# Предобработка

In [671]:
answers = {} # answers dictionary

# creating dublicates for each actor in the cast for the task 15
data_sep_cast = data.copy()
data_sep_cast['cast'] = data['cast'].str.split('|')
data_sep_cast = data_sep_cast.explode('cast')

#new df with a row for each genre of a movie
data_sep_genres = data.copy()
data_sep_genres['genres'] = data['genres'].str.split('|')
data_sep_genres = data_sep_genres.explode('genres')

#new df with a row for each production company of a movie
data_sep_comp = data.copy()
data_sep_comp['production_companies'] = data['production_companies'].str.split('|')
data_sep_comp = data_sep_comp.explode('production_companies')

budget_mean = round(data['budget'].mean()) # mean budget variable for the task 16

# adding new column "profit" which displays movie profit (revenue - budget):
data.insert(3,'profit',data['revenue'] - data['budget'])

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

ValueError: cannot insert profit, already exists

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [87]:
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [103]:
# the most pythonic way I guess
data.loc[data[['budget']].idxmax()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

Another ways:

In [217]:
#2
data[data['budget'] == data['budget'].max()]

,imdb_id,budget,revenue,profit,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,641683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

# 2. Какой из фильмов самый длительный (в минутах)?

In [121]:
answers['2'] = '2. Gods and Generals (tt0279111)'

In [110]:
data.loc[data[['runtime']].idxmax()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

# 3. Какой из фильмов самый короткий (в минутах)?

In [120]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [111]:
data.loc[data[['runtime']].idxmin()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

# 4. Какова средняя длительность фильмов?

In [114]:
round(data[['runtime']].mean())

runtime    110.0
dtype: float64

In [119]:
answers['4'] = '2. 110'

# 5. Каково медианное значение длительности фильмов?

In [117]:
round(data[['runtime']].median())

runtime    107.0
dtype: float64

In [156]:
answers['5'] = '1. 107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [154]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data.loc[data[['profit']].idxmax()]

,imdb_id,budget,revenue,profit,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
239,tt0499549,237000000,2781505847,2544505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009

In [162]:
answers['6'] = '5. Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [159]:
data.loc[data[['profit']].idxmin()]

,imdb_id,budget,revenue,profit,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1245,tt1210819,255000000,89289910,-165710090,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013

In [161]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [177]:
data[data['profit']>0]['imdb_id'].count()

1478

In [179]:
answers['8'] = '1. 1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [212]:
data.loc[data[data['release_year'] == 2008][['profit']].idxmax()]
# надо придумать второй более красивый вариант
# data.groupby(['imdb_id','original_title','release_year']).profit.max().sort_values()

imdb_id    original_title                release_year
tt1210819  The Lone Ranger               2013            -165710090
tt0318974  The Alamo                     2004            -119180039
tt1305591  Mars Needs Moms               2011            -111007242
tt0180052  The Adventures of Pluto Nash  2002             -92896027
tt0424095  Flushed Away                  2006             -84540684
                                                            ...
tt0848228  The Avengers                  2012            1299557910
tt2820852  Furious 7                     2015            1316249360
tt0369610  Jurassic World                2015            1363528810
tt2488496  Star Wars: The Force Awakens  2015            1868178225
tt0499549  Avatar                        2009            2544505847
Name: profit, Length: 1889, dtype: int64

In [200]:
answers['9'] = '4. The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [279]:
data.groupby(['release_year','imdb_id','original_title'])['profit'].min()\
[[2012,2013,2014]].sort_values().head(1)
# придумать другое решение

release_year  imdb_id    original_title
2013          tt1210819  The Lone Ranger   -165710090
Name: profit, dtype: int64

In [274]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [667]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
data_sep_genres['genres'].value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

In [668]:
answers['11'] = '3. Drama'

ВАРИАНТ 2

In [284]:
# Подумать над вторым вариантом решения

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [581]:
# new df with just 'genres' column ordered increasingly by profit:
df_profitable_genres = data.query('profit>0').sort_values(by='profit',
                           ascending=False)[['genres']]

df_profitable_genres['genres'] = df_profitable_genres['genres'].str.split('|') 
df_profitable_genres = df_profitable_genres.explode('genres')
Counter(df_profitable_genres['genres']).most_common(5)

[('Drama', 560),
 ('Comedy', 551),
 ('Thriller', 446),
 ('Action', 444),
 ('Adventure', 337)]

In [537]:
answers['12'] = '1. Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [323]:
data.groupby(['director']).revenue.sum().idxmax()

'Peter Jackson'

In [324]:
answers['13'] = '5. Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [584]:
data_new = data[data['genres'].str.contains('Action')].copy()
data_new['director'] = data_new['director'].str.split('|')
data_new = data_new.explode('director')
Counter(data_new['director']).most_common(5)

[('Robert Rodriguez', 9),
 ('Michael Bay', 7),
 ('Paul W.S. Anderson', 7),
 ('Antoine Fuqua', 6),
 ('Ridley Scott', 6)]

In [593]:
answers['14'] = '3. Robert Rodriguez'

0       Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...
1       Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...
2       Shailene Woodley|Theo James|Kate Winslet|Ansel...
3       Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...
4       Vin Diesel|Paul Walker|Jason Statham|Michelle ...
                              ...
1884    Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...
1885    Richard E. Grant|Jonathan Lipnicki|Jim Carter|...
1886    Rene Russo|Jason Alexander|Piper Perabo|Randy ...
1887    Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...
1888    Susan Ward|Lori Heuring|Matthew Settle|Nathan ...
Name: cast, Length: 1889, dtype: object

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [602]:
df_20_profitable_2012 = data[(data['profit'] > 0) & (data['release_year'] == 2012)].head(20)
df_20_profitable_2012['cast'] = df_20_profitable_2012['cast'].str.split('|')
df_20_profitable_2012 = df_20_profitable_2012.explode('cast')
Counter(df_20_profitable_2012['cast']).most_common(5)

[('Chris Hemsworth', 2),
 ('Charlize Theron', 2),
 ('Denis Leary', 2),
 ('Robert Downey Jr.', 1),
 ('Chris Evans', 1)]

In [599]:
answers['15'] = '3. Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [650]:
df_budget = data_sep_cast[data_sep_cast['budget'] > budget_mean]
df_budget['cast'].value_counts()

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Samuel L. Jackson    15
Eddie Murphy         15
                     ..
Sarah Gadon           1
Alexander Pollock     1
Chris O'Dowd          1
Tyler Hoechlin        1
Richard Briers        1
Name: cast, Length: 1505, dtype: int64

In [647]:
answers['16'] = '3. Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [661]:
data_sep_genres[data_sep_genres['cast'].str.contains('Nicolas Cage')].value_counts('genres')

genres
Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Family              3
Animation           3
History             2
War                 1
Romance             1
Horror              1
dtype: int64

In [662]:
answers['17'] = '2. Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [681]:
data_sep_comp[data_sep_comp['production_companies']
              == 'Paramount Pictures'].sort_values('profit')['original_title'].head(10)

925     K-19: The Widowmaker
1123                Timeline
1722                    Next
1623                   Alfie
1631                 Twisted
587     Domestic Disturbance
667            The Love Guru
1059        A Thousand Words
436              The Fighter
959                  Abandon
Name: original_title, dtype: object

In [682]:
answers['18'] = '1. K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [690]:
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).head(5)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [832]:
warner_data = data_sep_comp[data_sep_comp['production_companies'] == 'Warner Bros.']
pivot = pd.pivot_table(warner_data,values='profit',index='release_year',
                       columns='production_companies',
                       margins=True).sort_values('All',ascending=False).head(5)
pivot

production_companies  Warner Bros.           All
release_year
2012                  2.516040e+08  2.516040e+08
2003                  2.061659e+08  2.061659e+08
2008                  1.940541e+08  1.940541e+08
2009                  1.833482e+08  1.833482e+08
2013                  1.818282e+08  1.818282e+08

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

# 23. Для какого режиссера зима – самое продуктивное время года?

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [0]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...', '2': '...'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)