In [1296]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import itertools

In [1301]:
data = pd.read_csv('/home/iaan/Documents/SkillFactory/UNIT 1/Files/movie_bd_v5.xls')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
247,tt0988045,90000000,524028679,Sherlock Holmes,Robert Downey Jr.|Jude Law|Rachel McAdams|Mark...,Guy Ritchie,Nothing escapes him.,Eccentric consulting detective Sherlock Holmes...,128,Adventure|Drama|Action|Comedy|Thriller,Village Roadshow Pictures|Silver Pictures|Warn...,1/7/2009,6.9,2009
163,tt0365907,28000000,53181600,A Walk Among the Tombstones,Liam Neeson|Dan Stevens|David Harbour|Boyd Hol...,Scott Frank,Some people are afraid of all the wrong things,Private investigator Matthew Scudder is hired ...,113,Crime|Drama|Mystery|Thriller,Double Feature Films|Jersey Films|1984 Private...,9/18/2014,6.2,2014
1554,tt0417433,26000000,17496992,Annapolis,James Franco|Donnie Wahlberg|Jim Parrack|Tyres...,Justin Lin,"50,000 Apply. 1,200 Are Accepted. Only The Bes...","Jake Huard, from a shipbuilders family, promis...",108,Drama,Touchstone Pictures,1/27/2006,5.8,2006
947,tt0265662,20000000,75597042,The Rookie,Dennis Quaid|Rachel Griffiths|Beth Grant|Angus...,John Lee Hancock,Sometimes dreams come back to life.,Jim Morris never made it out of the minor leag...,127,Drama|Family,Walt Disney Pictures|Gran Via Productions|98 M...,3/25/2002,6.0,2002
1655,tt0338512,74500000,62172050,Deux frÃ¨res,MaÃ¯ Anh Le|Guy Pearce|Oanh Nguyen|Jaran 'See ...,Jean-Jacques Annaud,"Two infant tiger cubs, separated from their pa...",Two tigers are separated as cubs and taken int...,109,Adventure|Drama|Family,PathÃ© Renn Productions|TF1 Films Production|C...,4/7/2004,6.8,2004

In [1158]:
data.describe()

,budget,revenue,profit,runtime,vote_average,release_year,release_month
count,1.889000e+03,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1889.000000
mean,5.431083e+07,1.553653e+08,1.010545e+08,109.658549,6.140762,2007.860773,6.933298
std,4.858721e+07,2.146698e+08,1.830733e+08,18.017041,0.764763,4.468841,3.390196
min,5.000000e+06,2.033165e+06,-1.657101e+08,63.000000,3.300000,2000.000000,1.000000
25%,2.000000e+07,3.456058e+07,5.000000e+06,97.000000,5.600000,2004.000000,4.000000
50%,3.800000e+07,8.361541e+07,4.400041e+07,107.000000,6.100000,2008.000000,7.000000
75%,7.200000e+07,1.782626e+08,1.201842e+08,120.000000,6.600000,2012.000000,10.000000
max,3.800000e+08,2.781506e+09,2.544506e+09,214.000000,8.100000,2015.000000,12.000000

# Предобработка

In [1221]:
answers = {} # answers dictionary

# creating dublicates for each actor in the cast for the task 15
data_sep_cast = data.copy()
data_sep_cast['cast'] = data['cast'].str.split('|')
data_sep_cast = data_sep_cast.explode('cast')

#new df with a row for each genre of a movie
data_sep_genres = data.copy()
data_sep_genres['genres'] = data['genres'].str.split('|')
data_sep_genres = data_sep_genres.explode('genres')

#new df with a row for each production company of a movie
data_sep_comp = data.copy()
data_sep_comp['production_companies'] = data['production_companies'].str.split('|')
data_sep_comp = data_sep_comp.explode('production_companies')

# new df exploded by directors list:
data_sep_dir = data.copy()
data_sep_dir['director'] = data['director'].str.split('|')
data_sep_dir = data_sep_dir.explode('director')

# new df exploded by 'cast' column
data_sep_cast = data.copy()
#data['cast'] = data.cast.str.split('|')
data_sep_cast = data_sep_cast.explode('cast')

budget_mean = round(data['budget'].mean()) # mean budget variable for the task 16

# added new column "profit" which displays movie profit (revenue - budget):
data.insert(3,'profit',data['revenue'] - data['budget'])

# added new column for task 21 contains just month taken from the release date:
data['release_month'] = pd.DatetimeIndex(data['release_date']).month

# adding new column with title and overview lengths for 24 and 25 tasks
data_sep_comp.insert(5,'title_length',title_length)
data_sep_comp.insert(10,'overview_length',overview_length)

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

SyntaxError: invalid syntax (<ipython-input-1221-7c5f3690c798>, line 23)

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [1222]:
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# +

In [103]:
# the most pythonic way I guess
data.loc[data[['budget']].idxmax()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

Another ways:

In [1223]:
#2
data[data['budget'] == data['budget'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

# 2. Какой из фильмов самый длительный (в минутах)?

In [1224]:
answers['2'] = '2. Gods and Generals (tt0279111)'
# +

In [110]:
data.loc[data[['runtime']].idxmax()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

# 3. Какой из фильмов самый короткий (в минутах)?

In [1225]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'
# +

In [111]:
data.loc[data[['runtime']].idxmin()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

# 4. Какова средняя длительность фильмов?

In [114]:
round(data[['runtime']].mean())

runtime    110.0
dtype: float64

In [1226]:
answers['4'] = '2. 110'
# +

# 5. Каково медианное значение длительности фильмов?

In [117]:
round(data[['runtime']].median())

runtime    107.0
dtype: float64

In [1227]:
answers['5'] = '1. 107'
# +

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [154]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data.loc[data[['profit']].idxmax()]

,imdb_id,budget,revenue,profit,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
239,tt0499549,237000000,2781505847,2544505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009

In [1228]:
answers['6'] = '5. Avatar (tt0499549)'
# +

# 7. Какой фильм самый убыточный?

In [159]:
data.loc[data[['profit']].idxmin()]

,imdb_id,budget,revenue,profit,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1245,tt1210819,255000000,89289910,-165710090,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013

In [1229]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [177]:
data[data['profit']>0]['imdb_id'].count()

1478

In [1230]:
answers['8'] = '1. 1478'
# +

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [212]:
data.loc[data[data['release_year'] == 2008][['profit']].idxmax()]
# надо придумать второй более красивый вариант
# data.groupby(['imdb_id','original_title','release_year']).profit.max().sort_values()

imdb_id    original_title                release_year
tt1210819  The Lone Ranger               2013            -165710090
tt0318974  The Alamo                     2004            -119180039
tt1305591  Mars Needs Moms               2011            -111007242
tt0180052  The Adventures of Pluto Nash  2002             -92896027
tt0424095  Flushed Away                  2006             -84540684
                                                            ...
tt0848228  The Avengers                  2012            1299557910
tt2820852  Furious 7                     2015            1316249360
tt0369610  Jurassic World                2015            1363528810
tt2488496  Star Wars: The Force Awakens  2015            1868178225
tt0499549  Avatar                        2009            2544505847
Name: profit, Length: 1889, dtype: int64

In [1231]:
answers['9'] = '4. The Dark Knight (tt0468569)'
# +

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [279]:
data.groupby(['release_year','imdb_id','original_title'])['profit'].min()\
[[2012,2013,2014]].sort_values().head(1)
# придумать другое решение

release_year  imdb_id    original_title
2013          tt1210819  The Lone Ranger   -165710090
Name: profit, dtype: int64

In [1232]:
answers['10'] = '5. The Lone Ranger (tt1210819)'
# +

# 11. Какого жанра фильмов больше всего?

In [667]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
data_sep_genres['genres'].value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

In [1233]:
answers['11'] = '3. Drama'
# +

ВАРИАНТ 2

In [284]:
# Подумать над вторым вариантом решения

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [581]:
# new df with just 'genres' column ordered increasingly by profit:
df_profitable_genres = data.query('profit>0').sort_values(by='profit',
                           ascending=False)[['genres']]

df_profitable_genres['genres'] = df_profitable_genres['genres'].str.split('|') 
df_profitable_genres = df_profitable_genres.explode('genres')
Counter(df_profitable_genres['genres']).most_common(5)

[('Drama', 560),
 ('Comedy', 551),
 ('Thriller', 446),
 ('Action', 444),
 ('Adventure', 337)]

In [1234]:
answers['12'] = '1. Drama'
# +

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [323]:
data.groupby(['director']).revenue.sum().idxmax()

'Peter Jackson'

In [1235]:
answers['13'] = '5. Peter Jackson'
# +

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [584]:
data_new = data[data['genres'].str.contains('Action')].copy()
data_new['director'] = data_new['director'].str.split('|')
data_new = data_new.explode('director')
Counter(data_new['director']).most_common(5)

[('Robert Rodriguez', 9),
 ('Michael Bay', 7),
 ('Paul W.S. Anderson', 7),
 ('Antoine Fuqua', 6),
 ('Ridley Scott', 6)]

In [1236]:
answers['14'] = '3. Robert Rodriguez'
# +

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [602]:
df_20_profitable_2012 = data[(data['profit'] > 0) & (data['release_year'] == 2012)].head(20)
df_20_profitable_2012['cast'] = df_20_profitable_2012['cast'].str.split('|')
df_20_profitable_2012 = df_20_profitable_2012.explode('cast')
Counter(df_20_profitable_2012['cast']).most_common(5)

[('Chris Hemsworth', 2),
 ('Charlize Theron', 2),
 ('Denis Leary', 2),
 ('Robert Downey Jr.', 1),
 ('Chris Evans', 1)]

In [1237]:
answers['15'] = '3. Chris Hemsworth'
# +

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [650]:
df_budget = data_sep_cast[data_sep_cast['budget'] > budget_mean]
df_budget['cast'].value_counts()

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Samuel L. Jackson    15
Eddie Murphy         15
                     ..
Sarah Gadon           1
Alexander Pollock     1
Chris O'Dowd          1
Tyler Hoechlin        1
Richard Briers        1
Name: cast, Length: 1505, dtype: int64

In [1238]:
answers['16'] = '3. Matt Damon'
# +

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [661]:
data_sep_genres[data_sep_genres['cast'].str.contains('Nicolas Cage')].value_counts('genres')

genres
Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Family              3
Animation           3
History             2
War                 1
Romance             1
Horror              1
dtype: int64

In [1239]:
answers['17'] = '2. Action'
# +

# 18. Самый убыточный фильм от Paramount Pictures

In [681]:
data_sep_comp[data_sep_comp['production_companies']
              == 'Paramount Pictures'].sort_values('profit')['original_title'].head(10)

925     K-19: The Widowmaker
1123                Timeline
1722                    Next
1623                   Alfie
1631                 Twisted
587     Domestic Disturbance
667            The Love Guru
1059        A Thousand Words
436              The Fighter
959                  Abandon
Name: original_title, dtype: object

In [1240]:
answers['18'] = '1. K-19: The Widowmaker'
# +

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [690]:
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).head(5)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
Name: revenue, dtype: int64

In [1241]:
answers['19'] = '5. 2015'
# +

# 20. Какой самый прибыльный год для студии Warner Bros?

In [938]:
warner_data = data[data.production_companies.str.contains('Warner Bros.')]
pd.pivot_table(warner_data,values='profit',index='release_year',
               columns='production_companies',aggfunc='sum',
               margins=True).sort_values('All',ascending=False)['All'].head(5)

release_year
All     24543602472
2014     2295464519
2007     2201675217
2008     2134595031
2010     1974712985
Name: All, dtype: int64

In [1242]:
answers['20'] = '1. 2014'
# +

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [891]:
Counter(data['release_month']).most_common(3)

[(9, 227), (12, 190), (10, 186)]

In [1243]:
answers['21'] = '4. Сентябрь'
# +

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [924]:
data.query('release_month in [6,7,8]').count()

imdb_id                 450
budget                  450
revenue                 450
profit                  450
original_title          450
cast                    450
director                450
tagline                 450
overview                450
runtime                 450
genres                  450
production_companies    450
release_date            450
vote_average            450
release_year            450
release_month           450
dtype: int64

In [1244]:
answers['22'] = '2. 450'
# +

# 23. Для какого режиссера зима – самое продуктивное время года?

In [1167]:
winter = [1,2,12] 
# taking data_sep_dir dataftame which was created in purpose of exploding list of the directors
winter_data = data_sep_dir.query('release_month in @winter')
winter_data.value_counts('director',ascending=False)#.head(3)

director
Peter Jackson            7
Steven Soderbergh        6
Clint Eastwood           6
Martin Scorsese          4
Adam Shankman            4
                        ..
Matt Bettinelli-Olpin    1
Matt Reeves              1
Matthew O'Callaghan      1
Matthew Vaughn           1
Jon Avnet                1
Length: 358, dtype: int64

In [1245]:
answers['23'] = '5. Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [1103]:
title_length = data_sep_comp['original_title'].str.len()
data_sep_comp.groupby(['production_companies'])['title_length']\
                            .mean().sort_values(ascending=False).head(5)

production_companies
Four By Two Productions      83.0
Jim Henson Company, The      59.0
Dos Corazones                47.0
Museum Canada Productions    46.0
Polsky Films                 46.0
Name: title_length, dtype: float64

In [1246]:
answers['24'] = '5. Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [1133]:
overview_length = [len(overview) for overview in data_sep_comp['overview'].str.split()]
data_sep_comp.groupby(['production_companies'])['overview_length']\
                            .mean().sort_values(ascending=False).head(5)

production_companies
Midnight Picture Show               175.0
Room 9 Entertainment                161.0
98 MPH Productions                  159.0
Heineken Branded Entertainment      159.0
Brookwell-McNamara Entertainment    156.0
Name: overview_length, dtype: float64

In [1247]:
answers['25'] = '3. Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу?

In [1216]:
data_best = data.sort_values('vote_average',ascending=False)
data_best_1,data_best_99 = np.split(data_best, [int
                           (.01*len(data_best))]) #splitting by 2 df (1%,99%)
data_best_1['original_title'] # 1% of best movies sorted by average vote

599                                   The Dark Knight
118                                      Interstellar
125                                The Imitation Game
9                                          Inside Out
34                                               Room
370                                         Inception
1800                                          Memento
1183                          The Wolf of Wall Street
128                                         Gone Girl
1191                                 12 Years a Slave
872                                       The Pianist
138                          The Grand Budapest Hotel
1081    The Lord of the Rings: The Return of the King
119                           Guardians of the Galaxy
124                                        Big Hero 6
863             The Lord of the Rings: The Two Towers
1688                              There Will Be Blood
155                          The Theory of Everything
Name: original_title, dtype: object

In [1248]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [1304]:
data.cast.str.split('|').apply(lambda x: 
list(itertools.combinations(x, 2))).explode().value_counts()

(Daniel Radcliffe, Emma Watson)          8
(Daniel Radcliffe, Rupert Grint)         8
(Rupert Grint, Emma Watson)              7
(Johnny Depp, Helena Bonham Carter)      6
(Ben Stiller, Owen Wilson)               6
                                        ..
(Alison Brie, Jason Segel)               1
(Jake Abel, Sean Bean)                   1
(Jessica Chastain, Megan Charpentier)    1
(Hayley Atwell, Sebastian Stan)          1
(Bradley Cooper, Kyle Gallner)           1
Name: cast, Length: 18121, dtype: int64

ВАРИАНТ 2

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,"[Chris Pratt, Bryce Dallas Howard, Irrfan Khan...",Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,"[Tom Hardy, Charlize Theron, Hugh Keays-Byrne,...",George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,"[Shailene Woodley, Theo James, Kate Winslet, A...",Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,"[Harrison Ford, Mark Hamill, Carrie Fisher, Ad...",J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,"[Vin Diesel, Paul Walker, Jason Statham, Miche...",James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,"[Patrick Stewart, Hugh Jackman, Ian McKellen, ...",Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000
1885,tt0192255,22000000,13555988,The Little Vampire,"[Richard E. Grant, Jonathan Lipnicki, Jim Cart...",Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,"[Rene Russo, Jason Alexander, Piper Perabo, Ra...",Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000
1887,tt0162983,40000000,36037909,Hanging Up,"[Meg Ryan, Diane Keaton, Lisa Kudrow, Walter M...",Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000
1888,tt0163676,15000000,5217498,The In Crowd,"[Susan Ward, Lori Heuring, Matthew Settle, Nat...",Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000

# Submission

In [1260]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'18': '1. K-19: The Widowmaker',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '23': '5. Peter Jackson',
 '19': '5. 2015',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)