In [420]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [456]:
data = pd.read_csv('/home/iaan/Documents/SkillFactory/UNIT 1/Files/movie_bd_v5.xls')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
481,tt1302067,80000000,201584141,Yogi Bear,Dan Aykroyd|Justin Timberlake|Anna Faris|Tom C...,Eric Brevig,Life's a Pic-A-Nic,"Jellystone Park has been losing business, so g...",80,Comedy|Family|Animation|Adventure,De Line Pictures|Warner Bros. Animation|Sunswe...,12/11/2010,5.1,2010
279,tt1111422,100000000,150166126,The Taking of Pelham 1 2 3,Denzel Washington|John Travolta|Luis GuzmÃ¡n|V...,Tony Scott,I can't get it out of my head. I'm gonna die t...,"Armed men hijack a New York City subway train,...",106,Thriller|Drama|Crime,Columbia Pictures|Escape Artists|Scott Free Pr...,6/11/2009,6.1,2009
137,tt2109248,210000000,245500000,Transformers: Age of Extinction,Mark Wahlberg|Stanley Tucci|Nicola Peltz|Jack ...,Michael Bay,This is not war. It's extinction.,"As humanity picks up the pieces, following the...",165,Science Fiction|Action|Adventure,Paramount Pictures|Amblin Entertainment|Di Bon...,6/25/2014,5.9,2014
1296,tt1206543,22000000,15400000,Out of the Furnace,Christian Bale|Zoe Saldana|Woody Harrelson|Sam...,Scott Cooper,Sometimes your battles choose you.,Two brothers live in the economically-depresse...,116,Thriller|Drama|Crime,Appian Way|Scott Free Productions|Relativity M...,12/6/2013,6.4,2013
337,tt0963178,50000000,60161391,The International,Clive Owen|Naomi Watts|Armin Mueller-Stahl|Ulr...,Tom Tykwer,Is your money making a killing?,An interpol agent and an attorney are determin...,118,Drama|Thriller|Crime,Studio Babelsberg|Atlas Entertainment|Mosaic M...,2/3/2009,5.8,2009

In [484]:
data.describe()

ValueError: cannot insert profit, already exists

# Предобработка

In [535]:
answers = {} # answers dictionary

#replacing '|' in 'genres' column with spaces:
data['genres'] = data['genres'].str.replace('|',' ')

# adding new column "profit" which displays movie profit (revenue - budget):
data.insert(3,'profit',data['revenue'] - data['budget'])

rows_list_12 = [] # empty list for the task 12 

def rows_to_list(x): # func to create list of genres rows for the task 12
    for index, rows in x.iterrows():
        my_list = rows['genres']
        rows_list_12.append(my_list)
    return rows_list_12


#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [87]:
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [103]:
# the most pythonic way I guess
data.loc[data[['budget']].idxmax()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

Another ways:

In [217]:
#2
data[data['budget'] == data['budget'].max()]

,imdb_id,budget,revenue,profit,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,641683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

# 2. Какой из фильмов самый длительный (в минутах)?

In [121]:
answers['2'] = '2. Gods and Generals (tt0279111)'

In [110]:
data.loc[data[['runtime']].idxmax()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

# 3. Какой из фильмов самый короткий (в минутах)?

In [120]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [111]:
data.loc[data[['runtime']].idxmin()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

# 4. Какова средняя длительность фильмов?

In [114]:
round(data[['runtime']].mean())

runtime    110.0
dtype: float64

In [119]:
answers['4'] = '2. 110'

# 5. Каково медианное значение длительности фильмов?

In [117]:
round(data[['runtime']].median())

runtime    107.0
dtype: float64

In [156]:
answers['5'] = '1. 107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [154]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data.loc[data[['profit']].idxmax()]

,imdb_id,budget,revenue,profit,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
239,tt0499549,237000000,2781505847,2544505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009

In [162]:
answers['6'] = '5. Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [159]:
data.loc[data[['profit']].idxmin()]

,imdb_id,budget,revenue,profit,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1245,tt1210819,255000000,89289910,-165710090,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013

In [161]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [177]:
data[data['profit']>0]['imdb_id'].count()

1478

In [179]:
answers['8'] = '1. 1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [212]:
data.loc[data[data['release_year'] == 2008][['profit']].idxmax()]
# надо придумать второй более красивый вариант
# data.groupby(['imdb_id','original_title','release_year']).profit.max().sort_values()

imdb_id    original_title                release_year
tt1210819  The Lone Ranger               2013            -165710090
tt0318974  The Alamo                     2004            -119180039
tt1305591  Mars Needs Moms               2011            -111007242
tt0180052  The Adventures of Pluto Nash  2002             -92896027
tt0424095  Flushed Away                  2006             -84540684
                                                            ...
tt0848228  The Avengers                  2012            1299557910
tt2820852  Furious 7                     2015            1316249360
tt0369610  Jurassic World                2015            1363528810
tt2488496  Star Wars: The Force Awakens  2015            1868178225
tt0499549  Avatar                        2009            2544505847
Name: profit, Length: 1889, dtype: int64

In [200]:
answers['9'] = '4. The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [279]:
data.groupby(['release_year','imdb_id','original_title'])['profit'].min()\
[[2012,2013,2014]].sort_values().head(1)
# придумать другое решение

release_year  imdb_id    original_title
2013          tt1210819  The Lone Ranger   -165710090
Name: profit, dtype: int64

In [274]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [286]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
data['genres'].value_counts()[[0]]

Comedy    141
Name: genres, dtype: int64

In [ ]:
answers['11'] = '4. Comedy'

ВАРИАНТ 2

In [284]:
# Подумать над вторым вариантом решения

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [536]:
df_profitable_genres = data.query('profit>0').sort_values(by='profit',
                           ascending=False)[['genres']]

list_profitable_genres = rows_to_list(df_profitable_genres)
str_profitable_genres = ','.join(list_profitable_genres)
Counter(str_profitable_genres.replace(',',' ').split(' ')).most_common(5)
# ещё подумать над этим

[('Drama', 560),
 ('Comedy', 551),
 ('Thriller', 446),
 ('Action', 444),
 ('Adventure', 337)]

In [537]:
answers['12'] = '1. Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [323]:
data.groupby(['director']).revenue.sum().idxmax()

'Peter Jackson'

In [324]:
answers['13'] = '5. Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [355]:
data[data['genres'].str.contains('Action')]

,imdb_id,budget,revenue,profit,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,1363528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,228436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
3,tt2488496,200000000,2068178225,1868178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,1316249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015
6,tt1340138,155000000,440603537,285603537,Terminator Genisys,Arnold Schwarzenegger|Jason Clarke|Emilia Clar...,Alan Taylor,Reset the future,"The year is 2029. John Connor, leader of the r...",125,Science Fiction|Action|Thriller|Adventure,Paramount Pictures|Skydance Productions,6/23/2015,5.8,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1877,tt0199725,20000000,27728118,7728118,Love & Basketball,"Chris Warren, Jr.|Kyla Pratt|Sanaa Lathan|Omar...",Gina Prince-Bythewood,All's fair in love and basketball.,A young African-American couple navigates the ...,124,Action|Comedy|Drama|Romance,40 Acres & A Mule Filmworks,4/21/2000,7.3,2000
1880,tt0190374,35000000,15185241,-19814759,Dungeons & Dragons,Justin Whalin|Jeremy Irons|Thora Birch|Bruce P...,Courtney Solomon,This is no game.,The classic role-playing game comes to life in...,107,Action|Adventure|Fantasy|Science Fiction,New Line Cinema|Silver Pictures|Sweetpea Enter...,12/8/2000,3.9,2000
1882,tt0217756,24000000,12372410,-11627590,Ready to Rumble,David Arquette|Scott Caan|Oliver Platt|Rose Mc...,Brian Robbins,They're headed to the big time...face first.,Two slacker wrestling fans are devastated by t...,107,Action|Comedy|Drama,Bel Air Entertainment|Warner Bros.,4/7/2000,4.4,2000
1884,tt0120903,75000000,157299717,82299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000
1886,tt0131704,76000000,35134820,-40865180,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

# 18. Самый убыточный фильм от Paramount Pictures

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

# 20. Какой самый прибыльный год для студии Warner Bros?

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

# 23. Для какого режиссера зима – самое продуктивное время года?

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [0]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...', '2': '...'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)