In [0]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [13]:
data = pd.read_csv('/home/iaan/Documents/SkillFactory/UNIT 1/Files/movie_bd_v5.xls')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
63,tt3569230,25000000,42972994,Legend,Tom Hardy|Emily Browning|Christopher Eccleston...,Brian Helgeland,"Love, fight, live, rule like a legend.","Suave, charming and volatile, Reggie Kray and ...",131,Crime|Thriller,Working Title Films|Cross Creek Pictures|Anton...,9/9/2015,6.7,2015
1564,tt0332280,29000000,115603229,The Notebook,Rachel McAdams|Ryan Gosling|Gena Rowlands|Jame...,Nick Cassavetes,Behind every great love is a great story.,An epic love story centered around an older ma...,123,Romance|Drama,New Line Cinema,6/25/2004,7.5,2004
608,tt0421715,150000000,333932083,The Curious Case of Benjamin Button,Cate Blanchett|Brad Pitt|Tilda Swinton|Julia O...,David Fincher,"Life isn't measured in minutes, but in moments.","Tells the story of Benjamin Button, a man who ...",166,Fantasy|Drama|Thriller|Mystery|Romance,Paramount Pictures|Warner Bros.|Kennedy/Marsha...,11/24/2008,7.2,2008
1480,tt0418689,90000000,65900249,Flags of Our Fathers,Ryan Phillippe|Adam Beach|Jesse Bradford|John ...,Clint Eastwood,They fight for their country but they die for ...,There were five Marines and one Navy Corpsman ...,132,War|Drama|History,DreamWorks SKG|Amblin Entertainment|Malpaso Pr...,10/19/2006,6.7,2006
1731,tt0408839,60000000,127766650,The Heartbreak Kid,Ben Stiller|Malin Ã…kerman|Michelle Monaghan|J...,Bobby Farrelly|Peter Farrelly,He waited all his life to get married. Too bad...,"Eddie, the 40-year-old confirmed bachelor fina...",116,Comedy,Conundrum Entertainment|Davis Entertainment|Dr...,10/5/2007,5.6,2007

In [14]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [152]:
answers = {} # answers dictionary

# new column "profit" displays movie profit (revenue - budget)
data.insert(3,'profit',data['revenue'] - data['budget'])

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [87]:
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [103]:
# the most pythonic way I guess
data.loc[data[['budget']].idxmax()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

Another ways:

In [217]:
#2
data[data['budget'] == data['budget'].max()]

,imdb_id,budget,revenue,profit,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,641683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

# 2. Какой из фильмов самый длительный (в минутах)?

In [121]:
answers['2'] = '2. Gods and Generals (tt0279111)'

In [110]:
data.loc[data[['runtime']].idxmax()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

# 3. Какой из фильмов самый короткий (в минутах)?

In [120]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [111]:
data.loc[data[['runtime']].idxmin()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

# 4. Какова средняя длительность фильмов?

In [114]:
round(data[['runtime']].mean())

runtime    110.0
dtype: float64

In [119]:
answers['4'] = '2. 110'

# 5. Каково медианное значение длительности фильмов?

In [117]:
round(data[['runtime']].median())

runtime    107.0
dtype: float64

In [156]:
answers['5'] = '1. 107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [154]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data.loc[data[['profit']].idxmax()]

,imdb_id,budget,revenue,profit,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
239,tt0499549,237000000,2781505847,2544505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009

In [162]:
answers['6'] = '5. Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [159]:
data.loc[data[['profit']].idxmin()]

,imdb_id,budget,revenue,profit,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1245,tt1210819,255000000,89289910,-165710090,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013

In [161]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [177]:
data[data['profit']>0]['imdb_id'].count()

1478

In [179]:
answers['8'] = '1. 1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [212]:
data.loc[data[data['release_year'] == 2008][['profit']].idxmax()]
# надо придумать второй более красивый вариант
# data.groupby(['imdb_id','original_title','release_year']).profit.max().sort_values()

imdb_id    original_title                release_year
tt1210819  The Lone Ranger               2013            -165710090
tt0318974  The Alamo                     2004            -119180039
tt1305591  Mars Needs Moms               2011            -111007242
tt0180052  The Adventures of Pluto Nash  2002             -92896027
tt0424095  Flushed Away                  2006             -84540684
                                                            ...
tt0848228  The Avengers                  2012            1299557910
tt2820852  Furious 7                     2015            1316249360
tt0369610  Jurassic World                2015            1363528810
tt2488496  Star Wars: The Force Awakens  2015            1868178225
tt0499549  Avatar                        2009            2544505847
Name: profit, Length: 1889, dtype: int64

In [200]:
answers['9'] = '4. The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [235]:
data[data['release_year']]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

# 11. Какого жанра фильмов больше всего?

In [0]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

# 13. У какого режиссера самые большие суммарные кассовые сборы?

# 14. Какой режисер снял больше всего фильмов в стиле Action?

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

# 18. Самый убыточный фильм от Paramount Pictures

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

# 20. Какой самый прибыльный год для студии Warner Bros?

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

# 23. Для какого режиссера зима – самое продуктивное время года?

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [0]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...', '2': '...'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)